.p-confirm-popup {
  width: 30%;
  top: calc(50vh - 8%) !important;
  left: calc(50vw - 15%) !important;
}

// .p-confirm-popup-content {
//   background-color: blue;
// }

// .p-confirm-popup-message {
//   background-color: purple;
// }

// .p-confirm-popup-footer {
//   background-color: green;
// }
